NodeRed/flows.json
[{"id":"e9543cc2.06e6e","type":"http in","z":"15e045e6.6626aa","name":"","url":"/mylinebot","method":"post","upload":false,"swaggerDoc":"","x":837.1676635742188,"y":97.1577377319336,"wires":[["203ad110.4eb5ee","dc4fddc4.ce93a","52a4780.ebf0c88"]]},{"id":"dc4fddc4.ce93a","type":"http response","z":"15e045e6.6626aa","name":"","statusCode":"200","headers":{},"x":1037.1676635742188,"y":97.1577377319336,"wires":[]},{"id":"e90843b8.3e67c","type":"debug","z":"15e045e6.6626aa","name":"傳送結果","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1717.1676635742188,"y":237.1577377319336,"wires":[]},{"id":"3d65bc11.070c24","type":"http request","z":"15e045e6.6626aa","name":"LINE REPLY API","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1527.1676635742188,"y":237.1577377319336,"wires":[["e90843b8.3e67c"]]},{"id":"9ae8469d.70bdc8","type":"function","z":"15e045e6.6626aa","name":"前置設定","func":"msg.webhookObj = msg.payload;\nmsg.returnMsg = [];\nmsg.config = {\n    // \"assistant-api-key\": \"TCzzdKEgIeD5ZOU98a7d5GXzOoeh-NT2HwLFia6JGDQ-\",\n    // \"assistant-workspace\": \"17267615-76bd-48b0-995e-0e1feb83053d\",\n    \"assistant-api-key\": \"TCzzdKEgIeD5ZOU98a7d5GXzOoeh-NT2HwLFia6JGDQ-\",\n    \"assistant-workspace\": \"17267615-76bd-48b0-995e-0e1feb83053d\",\n    \"vr-api-key\": \"ypbvD5ATOSYEzz1JM7ZbBs2TT8IT8gHnQD73nDFi_m5W\",\n    \"line-token\": \"vFkzuCFanieNHh9eeAZl9cl31jdbk45mStq3FRNmXo0FVRUDCWrPvg/owTCGOZoVyPiFDA2gsnYRCpGDUE4k7cQgBodEGpa7ZyaojGdyNDYBKNesWCG30BbqrpComWtjcdsXS4OtoQrpl32jF8uNpwdB04t89/1O/w1cDnyilFU=\"\n}\n\nif (msg.payload.events[0].source.groupId == 'Cf1d386c3960589c8ad7e56aa0bcec283'){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1237.1676635742188,"y":157.1577377319336,"wires":[["67512399.313cfc"]]},{"id":"203ad110.4eb5ee","type":"debug","z":"15e045e6.6626aa","name":"webhook傳入","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1037.1676635742188,"y":57.157737731933594,"wires":[]},{"id":"52a4780.ebf0c88","type":"switch","z":"15e045e6.6626aa","name":"判斷事件種類","property":"payload.events[0].type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1037.1676635742188,"y":137.1577377319336,"wires":[["9ae8469d.70bdc8"],["6c752d2e.f52a44"]]},{"id":"6c752d2e.f52a44","type":"debug","z":"15e045e6.6626aa","name":"其他暫時不處理的事件","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1287.1676635742188,"y":117.1577377319336,"wires":[]},{"id":"67512399.313cfc","type":"switch","z":"15e045e6.6626aa","name":"判斷訊息類型","property":"payload.events[0].message.type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":897.1676635742188,"y":237.1577377319336,"wires":[["8c4393b7.d4699"],["5e9d68ac.1429b8"]]},{"id":"5e9d68ac.1429b8","type":"function","z":"15e045e6.6626aa","name":"其他先不處理的訊息","func":"msg.returnMsg.push({\n   'type': 'text',\n   'text': `這是 ${msg.payload.events[0].message.type} 訊息，這種訊息先不管`\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":1112.1676597595215,"y":256.15795981884,"wires":[["5e70eed0.1b012"]]},{"id":"5e70eed0.1b012","type":"function","z":"15e045e6.6626aa","name":"組 call api 內容","func":"var source = msg.webhookObj.events[0].source;\nvar to = '';\n\nto = msg.webhookObj.events[0].replyToken;\n\nmsg.url = \"https://api.line.me/v2/bot/message/reply\";\nmsg.headers= {\n\t\"Content-Type\": \"application/json\",\n\t\"Authorization\":`Bearer ${msg.config[\"line-token\"]}` \n};\n\nmsg.payload = {\n\t\"messages\": msg.returnMsg, \n\t\"replyToken\": to\n};\n\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":1317.1676635742188,"y":237.1577377319336,"wires":[["3d65bc11.070c24","9830013.d3892"]]},{"id":"9830013.d3892","type":"debug","z":"15e045e6.6626aa","name":"傳送物件","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1497.1676635742188,"y":197.1577377319336,"wires":[]},{"id":"8c4393b7.d4699","type":"function","z":"15e045e6.6626aa","name":"","func":"msg.returnMsg.push(msg.payload.events[0].message);\nreturn msg;","outputs":1,"noerr":0,"x":1113.7301788330078,"y":213.74449157714844,"wires":[["5e70eed0.1b012"]]}]